#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  --brandColor1: white;
  --brandColor2: black;
  --brandColor3: rgb(189, 189, 189);
  --flickerOffset: rgb(189, 189, 189);
}

.fade {
  position: relative;
  opacity: 0;
  transition: all 2s ease;
}

.fade.active {
  opacity: 1;
} 

#pageNotFoundMessage {
  font-size: 40px;
  padding-top: 10%;
  padding-bottom: 20%;
}

#errorRed {
  color: red;
}

.title {
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 50px;
}

.titleColor {
    color: var(--brandColor3);
    font-size: 50px;
}

.pageTitle {
  padding-top: 5%;
  font-size: 50px;
  padding-bottom: 10%;
}

.subTitleColor {
  font-size: 45px;
  color: var(--brandColor3);
}

.subTitle {
  font-size: 45px;
  color: var(--brandColor1);
}

.subTitleSmall {
  font-size: 25px;
  text-align: left;
  margin-inline: 25%;
}

.subTitleSmallColor {
  color: var(--brandColor1);
}

.infoPara {
  font-size: 22px;
  margin-inline: 15%;
  margin-bottom: 3%;
  font-weight: bold;
}

.button {
  padding: 2%;
    font-size: 20px;
    border: solid 2px var(--brandColor1);
    border-radius: 15px;
    background-color: var(--brandColor2);
    max-width: 35%;
    margin-top: 2%;
    transition: 0.5s;
    position: relative;
    top: 0px;
    text-decoration: none;
    color: var(--brandColor1);
}

.button:hover {
  cursor: pointer;
  text-shadow: 0 0 7px var(--brandColor1), 0 0 10px var(--flickerOffset);
  transition: 0.5s;
  top: -8px;
}

.infoBlock {
  background-color: var(--brandColor2);
  padding-top: 2%;
  padding-bottom: 2%;
}

.infoBlockTransparent {
  background: none;
}

.infoParaLarge {
  font-size: 25px;
  margin-inline: 15%;
  margin-bottom: 3%;
  font-weight: bold;
  text-align: left;
}

.background {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    padding-bottom: 2%;
}

.backgroundSquare {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 5%;
}

@media (max-width: 600px) {
  .pageTitle {
    font-size: 30px;
    padding-bottom: 5%;
  }

  .subTitle {
    font-size: 20px;
    margin-bottom: 0;
  }

  .titleColor {
      font-size: 25px;
  }

  .subTitleColor {
    font-size: 20px;
    margin-bottom: 0;
  }

  .infoPara {
    font-size: 14px;
    margin-inline: 3%;
  }

  .subTitleSmall {
    font-size: 16px;
    text-align: left;
    margin-inline: 7%;
}

  .infoBlock {
      padding-bottom: 5%;
  }

  .background {
    background-attachment: local;
    padding-bottom: 15%;
}
}