#root {
   --brandColor1: white;
   --brandColor2: black;
   --brandColor3: rgb(189, 189, 189);
   --flickerOffset: rgb(189, 189, 189);
 }

#contactBackground {
    background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1696441292/Sierra%20Nevada%20Web%20Designs/ojhj2hr8rris2jit0did.png');
    background-size: 20%;
    background-position: 50% 65%;
    background-color: rgb(12, 12, 12);
    padding-bottom: 10%;
}

#contactTitle {
   position: relative;
   top: -20px;
   left: -10px;
}

#contactFormBackground {
   background-color: black;
    padding-top: 5%;
    padding-bottom: 15%;
}   

#infoBlocksContact {
    padding-top: 5%;
}

#contactForm {
   display: flex;
   flex-direction: column;
   margin-inline: 25%;
   padding: 3%;
   border: solid 3px var(--brandColor1);
   border-radius: 8px;
}

#contactForm input{
    font-size: 20px;
    padding: 10px;
    border: solid 3px var(--brandColor1);
    margin-bottom: 5%;
    background: var(--brandColor2);
 }

 #contactForm textarea{
    font-size: 20px;
    padding: 10px;
    min-height: 200px;
    resize: vertical;
    max-height: 800px;
    border: solid 3px var(--brandColor1);
    background: var(--brandColor2);
 }

 #contactSubmitButton {
   padding: 2%;
   font-size: 20px;
   border-radius: 10px;
   background-color: var(--brandColor2);
   max-width: 35%;
   transition: 0.5s;
   position: relative;
   top: 0px;
   margin-top: 5%;
   margin-left: 70%;
}

 .successMessage {
   color: rgb(0, 220, 0);
   font-size: 25px;
   margin-bottom: 3%;
   font-weight: bold;
 }

 @media (max-width: 600px) {
   #contactBackground {
      background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1693713378/Sierra%20Nevada%20Web%20Designs/lyflcoa2mwetztr0lsae.jpg');
      background-attachment: fixed;
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;
  }

  #contactForm {
   margin-inline: 7%;
   }

   #contactForm input{
      margin: 0 auto;
      font-size: 16px;
      padding: 10px;
      border: solid 2px rgba(0, 187, 255, 0.788);
      box-shadow: 0px 0px 10px rgba(0, 187, 255, 0.788);
      margin-top: 2%;
      margin-bottom: 2%;
      width: 80%;
   }

   #contactForm textarea{
      font-size: 14px;
      width: 80%;
      margin: 0 auto;
      margin-top: 2%;
      min-height: 100px;
      max-height: 500px;
      border: solid 2px rgba(0, 187, 255, 0.788);
      box-shadow: 0px 0px 10px rgba(0, 187, 255, 0.788);
   }

   #contactSubmitButton {
      padding: 2%;
      padding-top: 3%;
      padding-bottom: 3%;
      font-size: 14px;
      border-radius: 10px;
      border: solid 2px rgba(0, 187, 255, 0.788);
      box-shadow: 0px 0px 15px rgba(0, 187, 255, 0.788);
      background-color: black;
      width: 40%;
      text-shadow: 0 0 7px rgba(0, 187, 255, 0.788), 0 0 10px rgba(0, 187, 255, 0.788);
      margin-top: 5%;
      margin-left: 60%;
   }

   .successMessage {
      font-size: 18px;
      margin-inline: 5%;
    }
 }