#root {
    --brandColor1: white;
    --brandColor2: black;
    --brandColor3: rgb(189, 189, 189);
    --flickerOffset: rgb(189, 189, 189);
  }

#footerWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-inline: 12%;
    padding-top: 3%;
    padding-bottom: 2%;
    justify-content: space-around;
    box-shadow: 0px 4px 2px -2px var(--brandColor1);
}

.footerLinksWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footerLinkTitle {
    color: var(--brandColor3);
    margin: 0;
    border-bottom: solid 2px var(--brandColor3);
    padding-bottom: 10%;
    margin-bottom: 10%;
    font-size: 20px;
}

.footerLink {
    cursor: pointer;
    margin: 0;
    font-size: 18px;
    margin-bottom: 3%;
    transition: 0.5s;
    text-decoration: none;
    color: var(--brandColor1);
    font-weight: bold;
}

.footerLink:hover {
    transition: 0.5s;
    text-shadow: 0 0 5px var(--brandColor1), 0 0 10px var(--flickerOffset);
}

.footerLinkSmall {
    cursor: pointer;
    margin: 0;
    font-size: 16px;
    margin-bottom: 3%;
    transition: 0.5s;
}

.footerLinkSmall:hover {
    transition: 0.5s;
    text-shadow: 0 0 5px var(--brandColor1), 0 0 10px var(--flickerOffset);
}

#copyright {
    font-size: 14px;
    margin-bottom: 2%;
}

#footerContact {
    -webkit-transform: rotate(-90deg);
    margin-bottom: -1%;
    text-shadow: 0 0 5px var(--brandColor1), 0 0 10px var(--flickerOffset);
    font-size: 30px;
    margin-right: -15%;
    position: relative;
    z-index: 0;
    animation: flickerContact 1.5s ease-out infinite alternate;  
}

.footerLinksWrapperContact {
    margin-top: 5%;
    position: relative;
    z-index: 1;
    text-align: left;
}

#footerAboutPara {
    max-width: 25%;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 50px;
}

@keyframes flickerContact {
    0% {
      text-shadow: 0 0 4px var(--brandColor1), 0 0 10px var(--flickerOffset);
    }
    100% {       
        text-shadow: 0 0 30px var(--brandColor1), 0 0 10px var(--flickerOffset);
    }
  }

@media (max-width: 600px) {
    #footerWrapper {
        display: flex;
        flex-direction: column;
        margin-inline: 10%;
    }

    #footerAboutPara {
        max-width: 100%;
    }

    #footerContact {
        -webkit-transform: rotate(0deg);
        margin-top: 20%;
        margin-bottom: 5%;
        margin-right: 0%; 
    }

    .footerLinkTitle {
        padding-bottom: 5%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #copyright {
        font-size: 10px;
        margin-bottom: 8%;
        margin-top: 5%;
    }
}