#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    position: relative;
    z-index: 3;
    margin-inline: 7%;
}

#navTitleLogoWrapper {
    display: flex;
    flex-direction: row;
}

#navTitleLogoWrapper:hover {
    cursor: pointer;
}

#navTitleLogoWrapper a {
   text-decoration: none;
   color: white;
   margin-top: -2rem;
}

#logo {
    max-width: 50%;
    max-height: 50%;
}

#navTitleWrapper {
    display: flex;
    flex-direction: column;
}

.titleItem {
    margin: 0;
}

#navItemsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navItem {
    margin-inline: 0.4em;
    transition: 0.5s;
    padding: 10px;
    border-radius: 16px;
    transition-timing-function: cubic-bezier(.58,.3,.005,1);
    border: solid 3px black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    max-height: 40px;
}

.navItem:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 187, 255, 0.788);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(.58,.3,.005,1);
    border: solid 3px rgba(0, 187, 255, 0.675);
}

#hamburgerMenu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    margin-top: 5px;
}

#hamburgerMenu:hover {
    cursor: pointer;
}

#hamburgerMenu:before,
#hamburgerMenu:after,
#hamburgerMenu input {
    content: '';
    width: 30px;
    height: 5px;
    background-color: rgb(0, 187, 255);
    border-radius: 15px;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out;
    transform-origin: left center;
    display: none;
}

#hamburgerMenu input {
   appearance: none;
   padding: 0;
   margin: 0;
   outline: none;
   pointer-events: none;
}

#hamburgerMenu:has(input:checked)::before {
    rotate: 45deg;
    width: 24px;
    translate: 0 2.5px;
 }

 #hamburgerMenu:has(input:checked)::after {
    rotate: -45deg;
    width: 24px;
    translate: 0 -2.5px;
 }


 #hamburgerMenu input:checked {
    opacity: 0;
    width: 0;
 }

 #hamburgerNav {
    translate: -100%;
    background-color: rgba(24, 24, 24, 0.864);
    position: relative;
    z-index: 3;
    padding: 5px;
    transition: 200ms ease-in-out;
    height: 300px;
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .mobileNavLink {
    cursor: pointer;
    margin: 0;
    font-size: 24px;
    margin-bottom: 1%;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.mobileNavLink:hover {
    transition: 0.5s;
    text-shadow: 0 0 5px aqua, 0 0 10px aqua;
}

#toggleLanguage {
    border-bottom: solid 3px black;
    max-height: 40px;
    margin-top: 15px;
    margin-inline: 0.4em;
    transition: 0.5s;
}

#toggleLanguage:hover {
    cursor: pointer;
    border-bottom: solid 3px rgba(0, 187, 255, 0.788);
    transition: 0.5s;
}

#dropDownLanguage {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1%;
    transition: 0.5s;
    position: relative;
    z-index: 3;
    background-color: rgba(24, 24, 24, 0.864);
    margin-bottom: -100px;
    max-width: 5%;
    left: 82%;
    top: -10px;
    padding-bottom: 0.2%;
    padding-top: 0.5%;
    text-align: left;
    padding-right: 5%;
    box-shadow: 0px 0px 3px rgba(0, 187, 255, 0.788);
    translate: 0 -250%;
}

.dropItem {
    padding: 0;
    margin: 0;
    margin-bottom: 5%;
    font-size: 20px;
    padding-bottom: 3px;
    border-bottom: solid 2px rgba(24, 24, 24, 0.864);
    transition: 0.5s;
}

.dropItem:hover{
    cursor: pointer;
    border-bottom: solid 2px rgba(0, 187, 255, 0.788);
    transition: 0.5s;
}

@media (max-width: 600px) {
    .titleItem {
        font-size: 15px;
    }

    .navItem {
      font-size: 15px;
      margin-inline: 0.1em;
      display: none;
    }

    #hamburgerMenu:before,
    #hamburgerMenu:after,
    #hamburgerMenu input {
        display: block;
    }

    #navTitleLogoWrapper a {
        text-decoration: none;
        color: white;
        margin-top: -1.5rem;
     }

     #toggleLanguage, #dropDownLanguage {
        display: none;
     }

}