#root {
    --brandColor1: white;
    --brandColor2: black;
    --brandColor3: rgb(189, 189, 189);
    --flickerOffset: rgb(189, 189, 189);
  }

#portfolioBackground {
    background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1696467073/Sierra%20Nevada%20Web%20Designs/yzxdtenlezs16eek3bec.webp');
}

.contentWrapperPortfolio {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.contentBlockImgPortfolio {
    width: 40%;
    margin-left: 5%;
}

.portfolioMockupImg {
    width: 100%;
    filter: drop-shadow(0px 2px 3px var(--brandColor3));
}

.contentBlockTextPortfolio {
    width: 60%;
    margin-top: 2%;
}

@media (max-width: 600px) {
    .contentWrapperPortfolio {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 5%;
    }

    .contentBlockImgPortfolio {
        width: 60%;
        margin-left: 20%;
    }

    .contentBlockTextPortfolio {
        width: 100%;
        margin-top: 2%;
    }

}