#servicesBackground {
    background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1696466626/Sierra%20Nevada%20Web%20Designs/pbvifw3pd2zpfjmvfaby.webp');
}

#servicesSecondBackground {
    background-image: url('https://res.cloudinary.com/dvmw658s9/image/upload/v1696466630/Sierra%20Nevada%20Web%20Designs/djivnxdaq07w8nefqkii.webp');
}

.infoImg {
    max-width: 100%;
    margin-top: 40%;
    margin-left: 20%;
    border-radius: 15px;
}

.contentWrapperServices {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contentBlockImg {
    width: 90%;
}

@media (max-width: 600px) {
    #servicesTitle {
        padding-bottom: 5%;
    }

    #servicesSecondBackground {
        background-attachment: local;
    }

    .infoParaLarge {
        font-size: 16px;
        margin-inline: 7%;
        margin-bottom: 3%;
    }

    .contentWrapperServices {
        flex-direction: column-reverse;
        width: 100%;
    }

    .infoImg {
        margin: 0 auto;
        max-width: 50%;
        margin-top: 10%;
        margin-left: 15%;
    }
}